
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    padding: 5px;
    margin: 5px;
    background-color:#8FBC8F;
}
h1:hover{
    font-size: 18px;  
}
button:hover{
    background-color: #10e3ea;
    color:black;
    font-size: 20px; 
}
.menu{
    width: 100%;
    display: flex;
    flex-direction:row;
    background-color: #A9A9A9;
    border-radius: 5px; 
}
.button{
    display: flex; 
    justify-content: flex-end;
    width: 100%; 
    align-items: center;
}
.titulo{
    display: flex; 
    justify-content: flex-start;
    width: 100%; 
    align-items: center;
}
h1{  
    margin: 5px;
    padding: 5px;
    text-align:left;
    font-size: 18px;
    font-family: 'Rock 3D' , cursive; 
}
button{
    width:30%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px; 
    color: #10e3ea; 
    border-radius: 10px;
    margin-bottom: 0; 
    text-align:ceter;
    background-color: #000;
}
.rodape{
        width: 99%;
        position: absolute;
        bottom: 0; 
}
p{
    font-family: 'Courier New', Courier, monospace;
    background-color: #A9A9A9;
    padding: 5px;
    margin: 5px;
    text-align: right;
    font-size: 13px;
    border-radius: 5px;      
}