
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    height: 100%;
    background-color:#10e3ea;
}
h1:hover{
    font-size: 20px;  
}
button:hover{
    background-color: #10e3ea;
    color:black;
    font-size: 20px; 
    
}
.menu{
    width: 100%;
    display: flex;
    flex-direction:row;
    background-color: #000;
    border-radius: 10px; 
}
.button{
    display: flex; 
    justify-content: flex-end;
    width: 100%; 
    align-items: center;
    
}
.titulo{
    display: flex; 
    justify-content: flex-start;
    width: 100%; 
    align-items: center;
}
h1{  
    text-align:left;
    width: min-content;
    font-size: 18px;
    font-family: 'Rock 3D' , cursive; 
    color: darkorange;
}
button{
    width:30%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px; 
    color: #10e3ea; 
    border-radius: 10px;
    margin-bottom: 0; 
    text-align:ceter;
    background-color: #000;
}